<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
</head>
<body>

<div th:fragment="script">

<!-- AdminLTE App -->
<script th:src="@{/webjars/adminlte/dist/js/app.min.js}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script th:src="@{/webjars/adminlte/dist/js/pages/dashboard.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/webjars/adminlte/dist/js/demo.js}"></script>
<!--
<script src="ad.js"></script>
 -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-46680343-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-46680343-1');
</script>

<!--
<script src="/js/main.js"></script>
 -->

</div>

</body>
</html>